.Header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  margin: 10px;
}

.Header__searchBar {
  box-sizing: border-box;
  margin: 5px;
  height: 30px;
  border: none;
  box-shadow: 0 14px 28px rgba(133, 133, 133, 0.25), 0 10px 10px rgba(133, 133, 133, 0.22);
}

.Header__searchButton {
  margin: 5px;
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: dodgerblue;
}

.Header__langSelector {
  box-sizing: border-box;
  width: 50px;
  border: none;
}

.Header__palette {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__paletteButtons {
  width: 70px;
  height: 30px;
  border: 1px solid gainsboro;
  margin: 0 10px;
}

.Header__modificators {
  display: flex;
}

.Header__paletteButtons:nth-child(1),
.Header__paletteButtons:nth-child(7) {
  background-color: #FFF1FE;
}

.Header__paletteButtons:nth-child(2) {
  background-color: #F1F2FF;
}

.Header__paletteButtons:nth-child(3),
.Header__paletteButtons:nth-child(8) {
  background-color: #459DE9;
}

.Header__paletteButtons:nth-child(4) {
  background-color: #F2F2F2;
}

.Header__paletteButtons:nth-child(5) {
  background-color: #C5C5C5;
}

.Header__paletteButtons:nth-child(6) {
  background-color: #8D8D8D;
}
