.WhetherCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  border-radius: 5px;
  padding-bottom: 10px;
  background-color: rgb(241, 241, 241);
  opacity: 0.75;
  box-shadow: 0 14px 28px rgba(133, 133, 133, 0.25), 0 10px 10px rgba(133, 133, 133, 0.22);
}

.WhetherCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.WhetherCard__header {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0 5px;
}

.WhetherCard__whetherDescription {
  font-size: 12px;
  vertical-align: middle;
  font-weight: bold;
  color: black;
}

.WhetherCard__city {
  flex-basis: 50%;
  text-align: left;
  font-weight: bold;
}

.WhetherCard__iconWhether {
  display: flex;
  flex-basis: auto;
  text-align: center;
  vertical-align: middle;
  height: 20px;
}

.WhetherCard__date {
  flex-basis: auto;
  margin: 5px;
  font-size: 12px;
}

.WhetherCard__chart {
  display: block;
  width: 100%;
  height: 150px;
}

.WhetherCard__icon {
  height: 20px;
  align-content: center;
}

.WhetherCard__temptype,
.WhetherCard__temptype-active {
  font-size: 15px;
  color: gray;
  cursor: pointer;
  padding: 3px;
  width: 18px;

}

.WhetherCard__temptype-active {
  color: black;
}

.WhetherCard__temp {
  font-size: 30px;
  color: black;
}

.WhetherCard__tempcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  vertical-align: top;
  padding-left: 5px;
}

.WhetherCard__templine {
  display: flex;
  justify-content: space-between;
  justify-self: start;
}

.WhetherCard__feelslike {
  font-size: 10px;
  color: grey;
}

.WhetherCard__tempToggle {
  display: flex;
  vertical-align: top;
  color: grey;
}

.WhetherCard__additional {
  font-size: 10px;
  padding-right: 5px;
  text-align: right;
}

.WhetherCard__additional > div {
  line-height: 15px;
}

.WhetherCard__additional-blue {
  color: dodgerblue;
}

.WhetherCard__deleteCard {
  background: transparent;
  border: none;
  margin-left: 5px;
}

